*
body{
    background-image: url('pict/BACKGROUND-1-01.jpeg');
    font-family: 'Times New Roman', Times, serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.header{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px;
    box-shadow: 0 13px 1rem rgb(255, 255, 255), inset 0 -1px 0 rgba(255, 255, 255, 0.815);

}
div.header a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
div.header a:hover{
    background-color: darkgrey;
    
}
h1{
    color: black;
    text-shadow: 6px 4px #b9abab9c;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ol{
    font-size: 2em;
    margin-left: 80px;
}
.inform {
    background-color: gainsboro;
    margin-left: 4%;
    margin-right: 4%;
}
h2{
    font-size: 3em;
    text-align: center;
    text-shadow: 6px 4px #b9abab9c;
}
.tentang{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 5%;
    margin-left: 4%;
}
.teks {
    margin-top: 3%;
    margin-bottom: 100px;
    padding: 2px 2px;
    font-size: xx-large;
    font-style: oblique;
    text-shadow: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%; 
}
img{
    margin-left: 19px;
    margin-right: 0px;
}
