*
body{
    background-image: url('BACKGROUND-1-01.jpeg');
    font-family: 'Times New Roman', Times, serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.header{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px;
    box-shadow: 0 13px 1rem rgb(255, 255, 255), inset 0 -1px 0 rgba(255, 255, 255, 0.815);

}
div.header a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
div.header a:hover{
    background-color: darkgrey;
    
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
h1{
    color: black;
    text-shadow: 6px 4px #b9abab9c;
}
h2{
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
    border-style: groove;
    border-color: black;
    background-color: black;
    width: fit-content;
}
h2 a{
    color:white;
    font-size: x-large;
}
div.main{
    background-color: gainsboro;
    border-style: groove;
    border-color: black;
    border-width: 7px;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: centerS;
}
div.main p{
    padding: 2px 2px;
    font-size: 25px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 2%;
    margin-right: 1%;
}
img{
    float: left;
    width: 300px;
    height: 300px;
    margin-right:15px;
}
.harga{
    background-color: rgb(241, 218, 87);
    width: 250px;
    height: max-content;
}