*
body{
    background-image: url('pict/BACKGROUND-1-01.jpeg');
    font-family: 'Times New Roman', Times, serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.header{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px;
    box-shadow: 0 13px 1rem rgb(255, 255, 255), inset 0 -1px 0 rgba(255, 255, 255, 0.815);

}
div.header a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
div.header a:hover{
    background-color: darkgrey;
    
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    }
h1{
    color: black;
    text-shadow: 6px 4px #b9abab9c;
}
h2{
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color: white;
}
label{
    font-size: 18px;
    font-weight: bold;
    flex: 0 0 25%;
}
input{
    flex: 0 0 30%;
}
input.order{
    width: 10px;
    flex: 0 0 40px;
}
input.submit{
    width: 70px;
    flex: 0 0 150px;
    background-color: black;
    color: white;
}
form{
    background-color: gainsboro;
    margin: 50px 30px !important;
    margin: 20px 10px 30px 40px;
    padding: 30px;
}
input:focus{
    background-color: black;
    color: white;
}

