*
body{
    background-image: url('BACKGROUND-1-01.jpeg');
    font-family: 'Times New Roman', Times, serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.header{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px;
    box-shadow: 0 13px 1rem rgb(255, 255, 255), inset 0 -1px 0 rgba(255, 255, 255, 0.815);

}
div.header a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
div.header a:hover{
    background-color: darkgrey;
    
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
h1{
    color: black;
    text-shadow: 6px 4px #b9abab9c;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    padding: 10px;
    margin-left: 130px;
    margin-top: 1%;
    align-content: center;
    flex: 0%;
    justify-content: center;
}
  
.grid-container > div {
    
    text-align: center;
    padding: 20px 20;
    font-size: 30px;
    flex: 0%;
}
.sticky-header {
    position: fixed;
}
.teks {
    margin-bottom: 100px;
    padding: 2px 2px;
    font-size: xx-large;
    font-style: oblique;
    text-shadow: 3em;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align-last: center;
    margin-left: 50px;
}