* 
body{
    background-image: url('BACKGROUND-1-01.jpeg');
    font-family: 'Times New Roman', Times, serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.header{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px;
    box-shadow: 0 13px 1rem rgb(255, 255, 255), inset 0 -1px 0 rgba(255, 255, 255, 0.815);

}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgray;
}

li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: darkgray;
}
  
.dropdown:hover .dropdown-content {
      display: block;
}
h1{
    color: black;
    text-shadow: 6px 4px #b9abab9c;
}
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.shop-item{
    display: flex;
    padding: 60px;
    margin-top: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: auto;
    flex: 0%;
    justify-content: center;
}
.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: gainsboro;
    color: black;
}
.shop-item {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: black;
    font-weight: bold;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
img.sticky {
    position: sticky;
    top: 0;
    width: 200px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
.tentang{
    font-size: 150%;
    font-weight: bolder;
    margin-left: 4%;
    color: white;
    height: fit-content;
}
.teks {
    padding: 2px 2px;
    font-size: 150%;
    font-style: oblique;
    text-shadow: 3em;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: black;
    margin-top: 7%;
}
.teks table{
    margin-left: 2%;
    padding: 5px;
}