*
body{
    background-image: url('BACKGROUND-1-01.jpeg');
    font-family: 'Times New Roman', Times, serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.header{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px;
    box-shadow: 0 13px 1rem rgb(255, 255, 255), inset 0 -1px 0 rgba(255, 255, 255, 0.815);

}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgray;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: darkgray;
}
  
.dropdown:hover .dropdown-content {
      display: block;
}
h1{
    color: black;
    text-shadow: 6px 4px #b9abab9c;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    padding: 10px;
    margin-left: 130px;
    margin-top: 1%;
    align-content: center;
    flex: 0%;
    justify-content: center;
}
  
.grid-container > div {
    
    text-align: center;
    padding: 20px 20;
    font-size: 30px;
    flex: 0%;
}
.teks {
    margin-bottom: 100px;
    padding: 2px 2px;
    font-size: xx-large;
    font-style: oblique;
    text-shadow: 3em;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align-last: center;
    margin-left: 50px;
}